<div class="container">
  <div class="col-sm-12">
    <h1 class="border-bottom title">Welcome to <%= FUND %> Case Manager!</h1>
    <h4>What line are you working tonight?</h4>

    <%= bootstrap_form_tag url: lines_path do |f| %>
      <% lines.each do |line| %>
        <%= f.radio_button :line, line, label: line %>
      <% end %>
      <%= f.submit 'Select your line for this session', class: 'btn-lg btn-primary' %>
    <% end %>

  </div>
</div>
