<div class="row info-form practical-support-item" id="practical-support-item-<%= practical_support.id %>">
  <div class="col-9">
    <%= practical_support.support_type %>
    from <%= practical_support.source || 'TBD' %>
    for $<%= practical_support.amount || 'TBD' %>
  </div>
  <div class="col-1">
    +
  </div>
  <div class="col-2">
    Edit
  </div>

  <!-- Modal -->
  <div class="modal modal-practical-support">
    <div class="modal-content">
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
