<% if patient.practical_supports.present? %>
  <hr />
  <% patient.practical_supports.each do |entry| %>
    <div class="row info-form practical-support-item" id="practical-support-item-<%= entry.id %>">
      <div class="col">
        <%= entry.display_text %>
      </div>

      <div class="col-1">
        <%#= entry.most_recent_note_display_text %>
      </div>

      <div class="col-2">
        <%= link_to 'Edit',
            edit_patient_practical_support_path(patient, entry),
            class: "edit_practical_support practical-support-#{entry.id}",
            remote: true %>
      </div>
    </div>

    <hr />
  <% end %>
  <br />
<% end %>
