<div id="practical-support-entries">
  <% if patient.practical_supports.present? %>
  <div class="row practical-support-headers">
    <div class="col-10">
      <div class="row">
        <h5 class="col-5"><%= t 'patient.practical_support.support_needed' %></h5>
        <h5 class="col-3"><%= t 'patient.practical_support.point_of_contact' %></h5>
        <h5 class="col-2"><!-- Where confirmation would go --></h5>
      </div>
    </div>
    <div class="col"><!-- Where button would go --></div>
  </div>

  <% patient.practical_supports.each do |entry| %>
    <%= render 'practical_supports/edit',
               patient: patient,
               practical_support: entry %>
    <% end %>
  <% end %>
</div>
