<div class="row">
  <%= bootstrap_form_for practical_support, url: patient_practical_support_path(patient, practical_support), html: { class: 'edit_practical_support' }, layout: :inline, remote: true do |f| %>
    <div class="col-sm-4">
      <%= f.select :support_type, options_for_select(practical_support_options, practical_support.support_type), hide_label: true %>
    </div>
    <div class="col-sm-4">
      <%= f.select :source, options_for_select(external_pledge_source_options, practical_support.source), hide_label: true %>
    </div>
      
    <div class="col-sm-4">
      <%= f.check_box :confirmed, id: "practical_support_confirmed_#{practical_support.id}",label: 'Confirmed?' %>
    </div>
    
  <% end %>
</div>
<br>
