<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_for config, inline: true do |f| %>
      <%= f.text_area :options, label: "#{config.config_key.capitalize} options", value: config.config_value[:options].join(', '), help: 'Please separate with commas.' %>
      <%= f.submit "Update options for #{config.config_key}", class: 'btn btn-primary' %>
    <% end %>  
  </div>

  <div class="col-md-6">
    <label>Current options are:</label>
    <% insurance_options.each do |opt| %>
      <%= opt %><br />
    <% end %>
  </div>
</div>
