<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_for config, inline: true do |f| %>
      <%= f.text_area :options, label: "#{config.config_key.to_s.humanize} options",
                                # should probably be a model method
                                value: config.config_value.try(:values_at, 'options')
                                                          .try(:join, ', '),
                                help: 'Please separate with commas.' %>
      <%= f.submit "Update options for #{config.config_key.to_s.humanize}", class: 'btn btn-primary' %>
    <% end %>  
  </div>

  <div class="col-md-6">
    <label>Current options are:</label>
    <% public_send("#{config.config_key}_options").each do |opt| %>
      <%= opt %><br />
    <% end %>
  </div>
</div>
<br />
