<h1>Configs</h1>
<h4>Use this to set custom insurance, language, external pledge options, and help text for pledge limits.</h4>

<% @configs.each do |config| %>
  <%= render 'config', config: config %>
<% end %>
