<table class="table border-side top-spacer" id="notes_log">
  <tbody>
    <% notes.each do |note| %>
      <% unless note.new_record? %>
        <tr class="note-header">
          <th>
            <%= note.created_by&.name || 'System' %> <%= note.created_at.display_date %> <%= note.created_at.display_time %>    
          </th>
        </tr>
        <tr class="note-body">
          <td><%= note.full_text %></td>
        </tr>
      <% end %>
    <% end %>
  <tbody>
</table>
