<table class="table border-side" id='notes_log'>
  <tbody>
    <% notes.each do |note| %>
      <% unless note.new_record? %>
        <div class="notes-wrapper">
          <p class="name-date-time"><%= note.created_by.name %> <%= note.created_at.display_date %> <%= note.created_at.display_time %></p>
        </div>
        <tr>
          <p class="notes-body"><%= note.full_text %></p>
        </tr>
      <% end %>
    <% end %>
  <tbody>
</table>
