<table class="table border-side" id='notes_log'>
  <tbody>
    <% notes.each do |note| %>
      <% unless note.new_record? %>
        <tr>
          <th><%= note.created_by.name %> <%= note.created_at.display_date %> <%= note.created_at.display_time %></th>
        </tr>
        <tr>
          <td><%= note.full_text %></td>
        </tr>
      <% end %>
    <% end %>
  <tbody>
</table>
