#Set default behavior to use Unix line endings so Docker on Windows doesn't fail
* text eol=lf

# Don't normalize images and other binary files
# more info: https://www.git-scm.com/docs/gitattributes
*.ai -text
*.png -text
*.ttf -text
*.pdf -text
*.jpg -text
*.ico -text
