# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# CUSTOM
#Set default behavior to use Unix line endings so Docker on Windows doesn't fail
* text eol=lf

# Denote all files that are truly binary and should not be modified.
# https://www.git-scm.com/docs/gitattributes
*.png binary
*.jpg binary
*.ai binary
*.pdf binary
*.ttf binary
*.ico binary
