<p>Hi <%= @user.name %> --</p>
<p>A DARIA account has been created for you!</p>
<p>We recommend logging in with Google. If you don't log in with Google, you will need to reset your password.</p>
<p>If you don't know what website to go to, or if you experience any other difficulties, please reach out to your case management director or volunteer contact.</p>
<p>Thanks for your service!</p>
<p>- Team <%= FUND %></p>
