<p>Hi <%= @user.name %> --</p>
<p>A DARIA account has been created for you!</p>
<p>Please start by heading to the system and resetting your password.</p>
<p>Email the CM Directors if you experience any difficulties.</p>
<p>Thanks for your service!</p>
<p>- Team <%= FUND %></p>
