<p>Hi <%= @user.name %> (<%= @user.email %>),</p>
<p>We wanted to let you know that your password was changed. If you changed it, you can ignore this email.</p>
<p>If you did not make this change, please let the CM Directors know immediately!</p>
<p>Thanks for your hustlin'!</p>
<p>- Team DCAF</p>