<%= bootstrap_form_tag url: clinicfinder_path do |f| %>
  <div class="col-sm-6">
    <div class="info-form-left">
      <%= f.text_field :zip_code %>
      <div class="btn btn-primary">Clear Button (WIP)</div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="info-form-right">
      <%= f.select :approx_gestation_at_appt, weeks_options, label: 'Approx. gestation at appt' %>
      <%= link_to "Search clinics", clinicfinder_search_path, method: :post, remote: true, class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
