    <div class="col-sm-6">
      Closest | Most Affordable
    </div>
    <div class="col-sm-6">
      NAF clinics only
    </div>

    <div class="col-sm-12">
    RENDER CLINIC RESULTS HERE
    </div>
