<section id="call_log" class="abortion-info tab-pane">
  <div class="col-md-12">
    <h2>Call Log</h2>
    <table class="table border-side">
      <tr>
        <th>Timestamp</th>
        <th>Log</th>
        <th>CM</th>
      </tr>
      <tbody>
        <td><%= 'call timestamp' %></td>
        <td><%= 'call status' %></td>
        <td><%= 'user who made call' %></td>
      </tbody>
    </table>
  </div>
</section>
