<section id="call_log" class="call-info tab-pane active">
	<div id="urgent_pregnancies" class="margin-bottom">
		<h1 class="border-bottom title"> Call Log</h1>
		<table class="table border-side">
		<tr>
			<th>Time Stamp</th>
			<th>Result</th>
			<th>user</th>
		</tr>
		<tbody>
			<td><%= pregnancy.initial_call_date %></td>
			<td><%= pregnancy.status %></td>
			<td><%= pregnancy.user %></td>
		</tbody>
	</div>
</section>