<section id="call_log" class="call-info tab-pane active">
  <div id="urgent_pregnancies" class="margin-bottom">
    <h1 class="border-bottom title"> Call Log</h1>
    <table class="table border-side">
    <tr>
      <th>Timestamp</th>
      <th>Log</th>
      <th>CM</th>
    </tr>
    <tbody>
      <td><%= 'call timestamp' %></td>
      <td><%= 'call status' %></td>
      <td><%= 'user who made call' %></td>
    </tbody>
  </div>
</section>
