<section id="change_section" class="abortion-info tab-pane">
  <h2>Changes</h2>
  <div class="info-form-left col-md-12">
    <%= f.fields_for pregnancy.patient do |p| %>
      <%= p.text_area :changes, label: 'Changes', size: '60x8' %>
    <% end %>
  </div>  
</section>
