<section class="abortion-left-menu col-md-4">
  <!-- links to hook into forms on right side -->
  <a href="#">Abortion Information</a>
  <br/>
  <br/>
  <a href="#">Patient Information</a>
  <br/>
  <br/>
  <a href="#">Notes</a>
  <br/>
  <br/>
  <a href="#">Call log</a>
  <br/>
  <br/>
  <button class="btn btn-primary">Submit Pledge</button>
</section>
