<section id="notes" class="notes tab-pane active">
	<div class="margin-bottom col-md-12">
		<h1 class="border-bottom title">Notes</h1>
        <div class="info-form-left col-md-6">
          Something here.
        </div> 
	</div>
</section>
