<section id="notes" class="notes tab-pane">
	<%= bootstrap_form_for [pregnancy, note], html: { id: 'notes-form' }, remote: true do |f| %>  
		<div class="col-sm-12 margin-bottom">
			<div class="row">
				<div class="info-form-left col-sm-12">
					<h2>Notes</h2>
          <%= f.text_area :full_text, size: '20x10', placeholder: 'Enter notes here', hide_label: true %>
          <%= f.submit class: "btn btn-primary"  %>
				</div>
			</div>
		</div>
	<% end %>

	<%= render partial: 'notes/notes_table', locals: { notes: pregnancy.notes.order_by('created_at desc') } %>
</section>
