<h4>Search Results</h4>
<table class="table table-bordered">
  <tr>
    <th>Phone</th>
    <th>Name</th>
    <th>LMP</th> <!-- last menstrual period -->
    <th>Pregnancy Notes</th>
    <th></th>
    <th></th>
  </tr>
</table>
