# Empty
version: 2

jobs:
  build:
    parallelism: 4
    working_directory: ~/abortioneering
    docker:
      - image: circleci/ruby:2.5.3-node-browsers
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          RAILS_ENV: test
          TESTOPTS: "--ci-dir=test-results"
      - image: circleci/mongo:latest
    steps:
      - checkout
      - run: sudo apt-get install libfontconfig
      - run: gem install bundler # Update bundler
      - run: gem update --system # Update rubygems
      - restore_cache:
          keys:
            - dcaf_case_management-{{ checksum "Gemfile.lock" }}
            - dcaf_case_management-{{ checksum ".circleci/config.yml" }}
      - run: bundle check || bundle install
      - run: gem install --no-document brakeman
      - run: gem install --no-document ruby_audit
      - run: gem install --no-document bundler-audit
      - save_cache:
          key: dcaf_case_management-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run: bundle exec rake knapsack:minitest
      - store_test_results:
          path: test-results
      - run: brakeman --exit-on-warn .
      - run: bundle exec ruby-audit check
      - run: bundle-audit update; bundle-audit check
  predeploy:
    working_directory: ~/abortioneering
    docker:
      - image: circleci/ruby:2.5.3-node-browsers
    steps:
      - checkout
      # - restore_cache:
      #     keys:
      #       - dcaf_case_management-{{ checksum "Gemfile.lock" }}-predeploy
      #       - dcaf_case_management-{{ checksum ".circleci/config.yml" }}-predeploy
      # - run: bundle check || bundle install
      # - run: gem uninstall brakeman
      # - run: gem install --no-rdoc brakeman-pro --source $BRAKEMAN_PRO_URL
      # - save_cache:
      #     key: dcaf_case_management-{{ checksum "Gemfile.lock" }}-predeploy
      #     paths:
      #       - vendor/bundle
      # - run: brakeman-pro --exit-on-warn .
      - run: "[[ ! -s \"$(git rev-parse --git-dir)/shallow\" ]] || git fetch --unshallow" # necessary due to moving to an organization
  deploy:
    working_directory: ~/abortioneering
    docker:
      - image: circleci/ruby:2.5.3-node-browsers
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - restore_cache:
          keys:
            - dcaf_case_management-{{ epoch }}
      - run: git push https://heroku:$HEROKU_API_KEY@git.heroku.com/dcaf-cmapp-staging.git master
      - run: docker build -t colinxfleming/dcaf_case_management -f .docker/Dockerfile . && docker login -u "$DOCKERLOGIN" -p "$DOCKERPASS" && docker push colinxfleming/dcaf_case_management

# general:
  # artifacts:
    # - "tmp/screenshots/"

workflows:
  version: 2
  dcaf_workflow_build_test_deploy:
    jobs:
      - build
      - predeploy:
          filters:
            branches:
              only: master
          requires:
            - build
      - deploy:
          filters:
            branches:
              only: master
          requires:
            - build
            - predeploy
