version: '2'
jobs:
  build:
    working_directory: ~/dcaf_case_management
    docker:
      - image: ruby:2.3
      - image: mongo
    steps:
      - checkout
      - run:
          name: Install System Dependencies
          command: apt-get update -qq && apt-get install -y build-essential nodejs npm
      - run:
          name: Symlink node and install phantom
          command: ln -s `which nodejs` /usr/bin/node && npm install -g phantomjs-prebuilt
      - run:
          name: Install dependencies
          command: bundle install
      - run:
          name: Run tests
          command: circleci tests glob "test/**/*_test.rb" | tests=${circleci tests split} | rake test TEST=${tests}

          # bundle exec rake test


  # ported
  # machine:
  #   ruby:
  #     version: 2.3.3
  #   services:
  #     - docker

# deployment:
#   staging:
#     branch: master
#     commands:
#       - bundle exec rake assets:clobber assets:precompile
#       - git push git@heroku.com:dcaf-cmapp-staging.git $CIRCLE_SHA1:master
#       - docker build -t colinxfleming/dcaf_case_management . && docker login -e "$DOCKEREMAIL" -u "$DOCKERLOGIN" -p "$DOCKERPASS" && docker push colinxfleming/dcaf_case_management

# test:
#   override:
#     - bundle exec rake test TESTOPTS="--ci-dir=$CIRCLE_TEST_REPORTS":
#         parallel: true
#         files:
#           - test/**/*_test.rb
#   post:
#     - gem install --no-rdoc brakeman; bundle exec brakeman --exit-on-warn .
#     - gem install --no-rdoc ruby_audit; bundle exec ruby-audit check
#     - gem install --no-rdoc bundler-audit; bundle-audit update; bundle-audit check
#     # - rake quality
