<h1>User Account Management</h1>
<div class="row" style="padding-top: 10px; padding-bottom: 20px;">
  <div class="col-md-12">
    <%= link_to "Add New User", new_user_path, class: "btn btn-primary" %>
    <%= link_to "Reset Password (WIP)", "#", class: "btn btn-primary" %>
    <button type="button" class="btn btn-primary">Toggle Lock (WIP)</button>
    <div style="float: right;">
      <%= render partial: 'users/search_form', locals: { autosortable: true } %>
    </div>
  </div>

</div>
<div id="user-list" class="margin-bottom">
  <%= render partial: 'users/users_table', locals: { users: @users, autosortable: true } %>
</div>
