// Styling related to log-a-call modals.

@use '_variables';

// Core new call modal
.calls-layout {
  padding: 1rem .5rem 1rem 2rem;

  .calls-request {
    font-size: variables.$font-size-large;
  }

  .calls-phone {
    font-size: variables.$font-size-xlarge;
    font-weight: 900;
  }

  .calls-response {
    font-size: variables.$font-size;
    text-decoration: underline;
  }

  .calls-btn {
    font-size: variables.$font-size;
    padding: 10px 40px;
  }
}
