// Styling for the events log on the patient dashboard.

@use 'bootstrap/scss/bootstrap';
@use '_variables';

svg.event-item {
  border-radius: 50%;
  margin-right: 1em;
  color: white;
  padding: 4px;
  background-color: variables.$teal;
  font-size: 1.25em;
  
  &.fa-thumbs-up {
    background-color: green;
  }

  &.fa-comment {
    background-color: variables.$light-gray;
    color: black;
  }
}  

#event-data {
  @extend .bg-light;
  height: 300px;
  overflow: auto;
}

#event-list{
  list-style: none;
}
