// Styling related to the lines form.

@use 'bootstrap/scss/bootstrap';
@use './_variables';

.lines-form {
  input[type="radio"] {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
    margin: 10px;
  }

  label {
    font-size: variables.$font-size-medium;
  }

  .form-check-label {
    @extend .ml-8;
  }
}
