<div class='card' id='event-data'>
  <div class="card-body bg-light">
    <ul id='event-list'>
      <% @events.map { |event| event.created_at.display_date }.uniq.each do |date| %>
        <li>
          <h3 class="mb-3"><%= date %></h3>

          <% @events.select { |event| event.created_at.display_date == date }.each do |event| %>
            <p class="event-item">
              <span class="<%= fontawesome_classes(event)  %>"></span>
              <%= entry_text(event) %>       
            </p>
          <% end %>
        </li>
      <% end %>
      <%= paginate @events, remote: true %>
    </ul>    
  </div>
</div>
