<table class="table border-side">
  <table class="table border-side">
    <thead>
      <tr>
        <th>Clinic Name</th>
        <th>PT initials</th>
        <th><%= FUND %> payout</th>
        <th>Weeks at Procedure</th>
        <th>Pledge Sent Date</th>
        <th>Check #</th>
        <th>Date of Check</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="patient_information_form">
      <% patients.each do |patient| %>
        <tr id='row-<%= patient.id %>'>
          <%= render 'accountants/table_content_row', patient: patient %>
        </tr>
      <% end %>
    </tbody>
  </table>
