# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2554c6ffdde365a48e905c3c644ae18e6d0a69e2cde41c9c43060cf83a74b8d87fc0622c2691d8cfcd4c19b308a88f2ec99cd6aa9fb1e3e26a9b8bf3cd0de012

test:
  secret_key_base: f7b6bb14e34fd66ab891ac398d259de196c896027d4f24e19aedf0f701c21234eec3e36f948e8321380a1d5044af45c57067a666d18bd6fbb8b0c26e75c0a3ee

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
