// SCSS variables like colors and font sizes.

// Colors
$light-gray: #F1F1F1;
$daria-color: #5D3E8D;
$daria-color-lt : #825fb9;
$grey-color: #525252;
$soft-blue: #23527c;
$dark-blue: #142B43;
$white: #ffffff;
$black: #000000;
$phone-icon-blue: #337ab7;

// Sizing
$font-size: 17px;
