// SCSS variables like colors and font sizes.

// Colors
$light-gray: #F1F1F1;
$medium-grey: #DDDDDD;
$grey-color: #525252;
$daria-color: #5D3E8D;
$daria-color-lt : #825fb9;
$soft-blue: #337ab7;
$dark-blue: #142B43;
$white: #ffffff;
$black: #000000;
$phone-icon-blue: #337ab7;
$lavendar: #ECE0FF;

// Sizing
$font-size: 1rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;
