// Styling around flash messages.
@import './_variables';

#flash {
  position: fixed;
  top: 0;
  padding-top: 0.5em;
  left: 0;
  width: 100%;
  z-index: 1100;
  transition-duration: .5s;
  pointer-events: none;
}

div.flash-message {
  margin: auto;
  pointer-events: auto;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
