// Styling related to the larger patient edit page.

@import './_variables';

#patient_dashboard {
  border-bottom: 1px solid $black;
  padding: 15px 0;
}

#sections {
  border-left: 1px solid $black;
  padding-left: 9.5%;
}

// This is necessary because of a vendored multimodal plugin that we should aim to deprecate
.js-title-step {
  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  }
}
