// Additional styling for table elements.

@import './_variables';

table.border-side {
  th {
    font-size: $font-size-small;
    color: $dark-grey;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: $light-gray;
    padding-left: 0px !important;
  }

  tr {
    td {
      font-size: 17px;
      padding: 10px 0 !important;
    }
  }
}
