<section id="change_log_content" class="abortion-info tab-pane">
  <div class="col-sm-12">
    <h2>Patient history</h2>
    <table class="table border-side">
      <thead>
        <tr>
          <th>Modified Date</th>
          <th>Field</th>
          <th>Changed From</th>
          <th>Changed To</th>
          <th>CM</th>
        </tr>
      </thead>
      <tbody>
        <% patient.assemble_audit_trails.each do |revision| %>
          <%= render 'patients/change_log_entry', revision: revision %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
