<section id="pledge_fulfillment" class="abortion-info tab-pane active">
  <%= bootstrap_form_for patient, html: { id: 'pledge_fulfillment_form' }, remote: true do |f| %>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <h2>Pledge Fulfillment</h2>
        </div>
      </div>

      <div class="row">
        <div class="info-form-left col-sm-6">
          <%=# f.form_group :pledge_fulfilled do %>
            <%=# f.check_box :pledge_fulfilled, label: 'Pledge Fulfilled' %>
          <%# end %>
        </div>
        <div class="info-form-right col-sm-6">
          <%=# f.text_field :check_number, label: 'Check #', autocomplete: 'off' %>
  
      </div>
    </div>
  <% end %>
</section>
