<%= render '/shared/modal',
  :captured => capture { %>
  <div class="row hide" data-step="1" data-title="This is the first step!">
      <div class="jumbotron">As you can see, this is the first step!</div>
  </div>
  <div class="row hide" data-step="2" data-title="This is the second and last step!">
      <div class="jumbotron">As you can see, this is the second and last step!</div>
  </div>
<% } %>