<section id="practical_support_content">
  <div id="patient_fields" class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <h2><%= t 'patient.practical_support.title' %></h2>
      </div>
    </div>

    <div class="row" id="practical-support-entries">
      <%= render 'practical_supports/entries',
                 patient: patient %>
    </div>

    <div class="row" id="practical-support-new-form">
      <%= render 'practical_supports/new',
                 patient: patient %>
    </div>
  </div>
</section>
