<div id="practical_support_content">
  <h2 class="mt-5"><%= t 'patient.practical_support.title' %> <%= practical_support_guidance_link %></h2>

  <div id="practical-support-entries">
    <%= render 'practical_supports/entries',
               patient: patient %>    
  </div>

  <div id="practical-support-new-form">
    <%= render 'practical_supports/new',
               patient: patient %>    
  </div>
</div>
