<!-- Patient Info -->

<%= render partial: "pledge", locals: { patient: @patient } %>

<div id="patient_dashboard" class="row">
  <%= render partial: 'patients/patient_dashboard', locals: { patient: @patient } %>
</div>

<div id="patient_detail" class="row">
  <div class="col-sm-4">
    <div id="menu" class="col-sm-9">
      <%= render partial: 'patients/menu', locals: { patient: @patient } %>
    </div>
  </div>

  <div id="sections" class="col-sm-8 tab-content">
    <%#= render partial: 'patients/abortion_information', locals: { patient: @patient } %>
    <%#= render partial: 'patients/patient_information', locals: { patient: @patient } %>
    <%#= render partial: 'patients/change_log', locals: { patient: @patient } %>
    <%#= render partial: 'patients/call_log', locals: { patient: @patient } %>
    <%#= render partial: 'patients/notes', locals: { patient: @patient, note: @note } %>
  </div>
</div>
