// flash failure
$('#flash').addClass("alert alert-danger")
$('#flash').html(
  '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><div id="flash_notice"> Failed to save patient!</div>'
);
