// flash failure
if ($( "#flash" ).length == 0) {
  $('main > .container').prepend("<div id='flash'></div>")
}

$('#flash').removeClass().hide().fadeIn('slow');
$('#flash').addClass("alert alert-danger")
$('#flash').html(
  '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><div id="flash_notice"> Failed to save patient!</div>'
);
