<h2>Sorry! The page you're looking for doesn't exist.</h2>

<p>This page may have moved, or been removed entirely.</p>

<p>
  <%= button_to 'Back to homepage', root_path, class: 'btn btn-primary btn-lg' %>
</p>
