<% content_for :title do %>DARIA - 422<% end %>
<% content_for :error_page do %>error<% end %>

<h2>Sorry! Something went wrong. (422)</h2>

<p>Something about the data looked weird - try adjusting it and give it another shot.</p>
