<% content_for :title do %>DARIA - 404<% end %>
<% content_for :error_page do %>error<% end %>

<h2>Sorry! The page you're looking for doesn't exist. (404)</h2>

<p>This page may have moved, or been removed entirely.</p>
