// Styling around bootstrap tooltips.

@use './variables';

.tooltip-header-help {
  color: variables.$grey-color;
  border-bottom: 1px dotted variables.$grey-color;
  cursor: pointer;
}

.tooltip-inner {
  font-size: variables.$font-size-small;
}
