// Styling specific to users routes.

@use './variables';

// Make data-sort elements in user list a pointer.
#user-list th[data-sort] {
  cursor: pointer;
}

// Highlight user-rows with a light gray.
.user-row:hover {
  background-color: variables.$light-gray;
  border: 2px solid gray;
}
