// SCSS variables like colors and font sizes.

// Colors
$light-gray: #F1F1F1;
$medium-grey: #DDDDDD;
$grey-color: #525252;
$dark-grey: #323a45;
$daria-color: #5D3E8D;
$daria-color-lt : #825fb9;
$soft-blue: #337ab7;
$dark-blue: #142B43;
$link-blue: #23527c;
$white: #ffffff;
$black: #000000;
$phone-icon-blue: #337ab7;
$lavendar: #ECE0FF;
$red: #ff0000;
$dark-red: #A42823; // Slightly darker red for accessibility
$teal: #008080;

// Sizing
$font-size-small: .8rem;
$font-size: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;

// Bootstrap spacers
$spacer: .5rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25), //.125 rem
    2: ($spacer * .5), //.25 rem
    3: $spacer, //.5 rem
    4: ($spacer * 1.5), //.75rem
    5: ($spacer * 2), //1rem
    6: ($spacer * 3), //1.5rem
    7: ($spacer * 4), // 2rem;
    8: ($spacer * 5) // 2.5rem;
  ),
  $spacers
);
