<div id='activity_feed' class='margin-bottom'>
  <h1 class='border-bottom title'>Activity on this line</h1>
  <ul>

    <% Event.order_by(created_at: :desc).limit(10).each do |event| %>
      <%= content_tag :li, event.to_log_entry %>
    <% end %>
  </ul>
</div>
