<div id='activity_feed_content' class='margin-bottom'>
  <h1 class='border-bottom title'>Activity on this line</h1>
  <ul class='well well-lg'>

    <% Event.order_by(created_at: :desc).limit(10).each do |event| %>
      <%= content_tag :li, event.to_log_entry %><br />
    <% end %>
  </ul>
</div>
