    <div class="progress">
      friendship
      <%# expenditures.each_pair do |type, value| %>
        <div class="progress-bar progress-bar-striped <%#= progress_bar_color type %>" style="<%#= progress_bar_width value %>">$<%#= value %></div>
      <%# end %>
    </div>
