<div class="modal fade new-call" tabindex="-1" role="dialog" data-controller="modal">
  <div class="modal-dialog">
    <div class="modal-content" id="new-call-modal-content">
    </div>
  </div>
</div>
