<div id="overview" class="margin-bottom">
  <h1 class="border-bottom title">Week of <%= week_range %></h1>
  <%= dashboard_table_content_tooltip_shell "budget_bar" %>

  <div id="budget_bar">
    <%= render_async budget_bar_path, nonce: content_security_policy_script_nonce, 'data-turbolinks-track': 'reload' %>
  </div>
</div>
