<div id="search_form" class="margin-bottom">
  <h1 class="border-bottom title">Build your call list</h1>

  <!-- TODO change submit tag to a search glyphicon -->
  <%= bootstrap_form_tag url: '/search', remote: true, layout: :inline do |p| %>
    <%= p.text_field :search, placeholder: 'Name (Susan Smith) or Phone (555-555-5555)', hide_label: true, class: 'search_form_input' %>
    <%= p.submit 'Search', class: 'btn btn-primary' %>
    <%#= p.check_box :all_lines, label: "Search all lines instead of just #{current_line}" %>
  <% end %>

  <div id="search_results_shell"></div>
</div>
