<div class="container">
  <div class="col-sm-12">
    <h1 class="border-bottom title">Welcome to DCAF Case Manager!</h1>
    <h4>What line are you working tonight?</h4>
        <form>
          <input type="radio" name="call_line" value="dc_line"> DC Line </input><br/>
          <input type="radio" name="call_line" value="va_line"> VA Line </input><br/>
          <input type="radio" name="call_line" value="md_line"> MD Line </input><br/><br/>

          <input class="btn-lg btn-primary" type="submit" value="Start">
        </form>
  </div>
</div>
