// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.accountants-pagination {
  .pagination-entries {
    font-size: .5em;
    display: inline-block;
  }

  nav.pagination {
    // font-size: 100%;
    display: inline-block;

    span {
      font-size: .5em;
    }
  }  
}
