/*
 *= require rails_bootstrap_forms
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 *= require_tree .
*/

$daria-color: #5D3E8D;
$grey-color: #525252;
$font-size: 17px;
$soft-blue: #23527c;
$dark-blue: #142B43;
 
// Have to duplicate these globals until we take bootstrap out of sprockets
// because of some styling clash
html {
  font-size: $font-size;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size;
}

a {
  color: $soft-blue;
  text-decoration: none;
}

a:hover, a:active, a:visited, a:focus {
  color: $dark-blue;
  text-decoration: underline;
}
// End duplicated styles
