/*
 *= require rails_bootstrap_forms
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 *= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@charset "utf-8";

$dcaf-color: #5D3E8D;
$font-size: 16px;

/* NAVBAR */
.navbar-inverse{
  background-color: #f5f5f5;
  border: none;
  .navbar-header > a, .navbar-nav > li > a, .navbar-link{
    color: $dcaf-color;
    &:hover{
      color: lighten($dcaf-color, 20%)
    }
  }
}


/* GENERAL GLOBAL STYLING */
.container {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size;
}

.form-error {
  color: red;
  font-size: 14px;
}

.btn-primary {
  @extend .btn-primary;
  background-color: $dcaf-color;
  border: none;
  margin-bottom: 2px;
  font-size: $font-size;
}

.btn-primary:hover {
  @extend .btn-primary:hover;
  background-color: lighten($dcaf-color,15%);
}

.border-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

// Styling for #app_footer
#app_footer .glyphicon-earphone {
  color: inherit;
  background-color: inherit;
  vertical-align: top;
}
.hr_gradient {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

// add spacing
.margin-bottom {
  margin-bottom: 100px;
}
.margin-bottom-sm {
  margin-bottom: 50px;
}

// increase size of text in form fields
.form-control {
  font-size: $font-size;
}

.btn-lg {
  margin: 15px 0;
  padding: 15px 30px;
}


// General styling artifacts
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// apply styles to HTML elements
// to make views framework-neutral

html {
  font-size: $font-size;
}
main {
  @extend .container;
  background-color: #ffffff;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

h1.title {
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  font-size: 3rem;
  span {
    letter-spacing: .25px;
  }
}
h2 {
  font-size: 2.215rem;
}
h3 {
  font-size: 1.625rem;
}
h4 {
  font-size: 1.375rem;
}
h5 {
  font-size: 1.125rem;
}


// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  @extend .well;
  @extend .well-lg;
  @extend .center-block;
  padding-top: 20px;
  /*max-width: 320px;*/
  margin: 0 auto;
}
.authform form {
  /*@extend .well;*/
  /*@extend .well-lg;*/
  padding-bottom: 20px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.btn-space {
   margin-top:25px;
}

// Search result
// shell styling
.form-group input {
  &[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }

}
