/*
 *= require rails_bootstrap_forms
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600);

$dcaf-color: #5D3E8D;

// DCAF color scheme button

.navbar-inverse{
  background-color: #f5f5f5;
  border: none;
  .navbar-header > a, .navbar-nav > li > a, .navbar-link{
    color: #000000;
    &:hover{
      color: lighten(#000000, 50%)
    }
  }
}

.container {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
}

.btn-primary {
  @extend .btn-primary;
  background-color: $dcaf-color;
  border: none;
  margin-bottom: 2px;
  font-size: 17px;
}

.btn-primary:hover {
  @extend .btn-primary:hover;
  background-color: lighten($dcaf-color,15%);
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #ffffff;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  @extend .well;
  @extend .well-lg;
  @extend .col-sm-6;
  @extend .center-block;
  padding-top: 20px;
  /*max-width: 320px;*/
  margin: 0 auto;
}
.authform form {
  /*@extend .well;*/
  /*@extend .well-lg;*/
  padding-bottom: 20px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.border-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.title {
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  font-size: 48px;
  span {
    letter-spacing: .25px;
  }
}

.search_bar {
  max-width: 35%;
}

#search_form {
  .search_form_input {
    width: 350px;
  }
}

.margin-bottom {
  margin-bottom: 100px;
}

.border-side {
  th {
    font-size: 14px;
    color: #323a45;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: #f1f1f1;
  }
  tr {
    td {
      font-size: 17px;
      padding: 10px 0 !important;
    }
  }
}

.glyphicon-earphone {
  color: white;
  background-color: #337ab7;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  vertical-align: top;
}

.form-control {
  font-size: 17px;
}

.hidden {
  display: none;
}

.abortion-left-menu {
  li {
    // padding-left: 10px;
    background-color: white;

    a:hover {
      color: #337ab7;
      background-color: white;
    }
  }

  li.active {
    // padding-left: 0;

    a, a:hover {
      color: #5D3E8D;
      background-color: white;


    }
  }
}

@import 'patients';
@import 'dashboards';