/*
 *= require rails_bootstrap_forms
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 *= require_tree .
*/

$spacer: .5rem !default;

$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25), //.125 rem
    2: ($spacer * .5), //.25 rem
    3: $spacer, //.5 rem
    4: ($spacer * 1.5), //.75rem
    5: ($spacer * 2), //1rem
    6: ($spacer * 3), //1.5rem
    7: ($spacer * 4), // 2rem;
    8: ($spacer * 5) // 2.5rem;
  ),
  $spacers
);

@import "bootstrap";


$daria-color: #5D3E8D;
$grey-color: #525252;
$font-size: 17px;
$soft-blue: #23527c;
$dark-blue: #142B43;
 
// Have to duplicate these globals until we take bootstrap out of sprockets
// because of some styling clash
html {
  font-size: $font-size;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size;
}

a {
  color: $soft-blue;
  text-decoration: none;
}

a:hover, a:active, a:visited, a:focus {
  color: $dark-blue;
  text-decoration: underline;
}
// End duplicated styles

//override the bootstrap form-text and btn-danger defaults for accessible color contrast
.form-text {
  color: #595959 !important;
}
.btn-danger {
  background-color: #A42823 !important;
  border-color: #A42823 !important;
}

/* NAVBAR */
.navbar-inverse{
  background-color: #f5f5f5;
  border: none;
  .navbar-header > a, .navbar-nav > li > a {
    color: $daria-color;
    &:hover{
      color: lighten($daria-color, 20%);
      text-decoration: underline;
    }
    &:visited{
      color: #000080;
    }
  }

  .navbar-text {
    color: $daria-color;
  }

  .navbar-text-alt {
    color: $grey-color;
  }
}

.form-error {
  color: red;
  font-size: 14px;
}

.btn-primary {
  @extend .btn-primary;
  background-color: $daria-color;
  border: none;
  color: white;
  margin-bottom: 2px;
  font-size: $font-size;
}

.btn-primary:hover {
  background-color: lighten($daria-color,15%);
}

.btn-primary:focus {
  background-color: lighten($daria-color,15%);
  color: white;
  text-decoration: none;
}

.border-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

// Styling for #app_footer
#app_footer .glyphicon-earphone {
  color: inherit;
  background-color: inherit;
  vertical-align: top;
}
.hr_gradient {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.logo {
  display: inline-block;
  padding: 0 10px;
  height: 45px;
}

// empty add - char
.blush:empty:before {
  content: '\2013';
  padding-left: 2px;
  padding-right: 2px;
}

// increase size of text in form fields
.form-control {
  font-size: $font-size;
}

.btn-lg {
  margin: 15px 0;
  padding: 15px 30px;
}

#flash {
  position: absolute;
  width: 100%;
  z-index: 999;
  transition-duration: .5s;
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// apply styles to HTML elements
// to make views framework-neutral





// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
// maybe deleteable?
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;
}

.info-form .checkbox label {
  font-weight: bold;
}

// Search result
// shell styling
.form-group input {
  &[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }

}

$daria-color-lt : #825fb9;

// Modal partial styling
.btn-success {

  background-color: $daria-color;
  border-color: $daria-color;

  &:hover {
    background-color: $daria-color-lt;
    border-color: $daria-color;
  }
  &:active {
    background-color: #286090 !important;
  }
  &:focus {
    background-color: $daria-color;
    &:hover {
    background-color: $daria-color-lt;
    }
  }
}

.btn-warning {
  color: black;
  border-color: $daria-color;
  background-color: white;
  &:hover {
    background-color: $daria-color-lt;
    border-color: $daria-color;
  }
  &:active {
    background-color: #286090 !important;
  }
  &:focus {
    background-color: $daria-color;
    &:hover {
    background-color: $daria-color-lt;
    }
  }
}

@mixin disabled-button {
  color: white;
  background-color: gray;
  border-color: $daria-color;
  &:hover {
    background-color: gray;
    border-color: $daria-color;
  }
  &:focus {
    background-color: gray;
    border-color: $daria-color;
    &:hover {
      background-color: gray;
      border-color: $daria-color;
    }
  }
}

.btn-success[disabled] {
  @include disabled-button;
}

.btn-warning[disabled] {
  @include disabled-button;
}

.label-success {
  background-color: $daria-color;
}

.btn[data-orientation='cancel'] {
  color: red;
}

.modal-header, .modal-body, .modal-footer {
  padding: 30px
}

.modal-header > h4 {
  padding-left: 1em;
  .label {
    margin-left: -2em;
  }
}

#flash {
  position: fixed;
}

.form-check label {
  min-height: 20px;
  font-weight: 400;
  cursor: pointer;
  line-height: 1.5;
}

.form-check-label{
  display: inline;
}

#event-list{
  list-style: none;
}

// TOOLTIPS
.tooltip-inner {
  font-size: 12px;
}

// This is necessary because of a vendored multimodal plugin that we should aim to deprecate
.hide {
  @extend .d-none;
}

// widen default modal from bootstrap default
.modal-dialog {
  max-width: 60%;
}
