/*
 *= require rails_bootstrap_forms
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 *= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@charset "utf-8";

$daria-color: #5D3E8D;
$grey-color: #828282;
$font-size: 17px;


/* NAVBAR */
.navbar-inverse{
  background-color: #f5f5f5;
  border: none;
  .navbar-header > a, .navbar-nav > li > a, .navbar-link{
    color: $daria-color;
    &:hover{
      color: lighten($daria-color, 20%);
      text-decoration: underline;
    }
    &:visited{
      color: #000080;
    }
  }

  .navbar-text{
    color: $daria-color;
    padding:15px;
    margin:0px;
    line-height:20px;
  }

  .navbar-text-alt{
    color: $grey-color;
    padding:15px;
    margin:0px;
    line-height:20px;
  }
}


/* GENERAL GLOBAL STYLING */
.container {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size;
}

.form-error {
  color: red;
  font-size: 14px;
}

.btn-primary {
  @extend .btn-primary;
  background-color: $daria-color;
  border: none;
  margin-bottom: 2px;
  font-size: $font-size;
}

.btn-primary:hover {
  @extend .btn-primary:hover;
  background-color: lighten($daria-color,15%);
}

.border-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

// Styling for #app_footer
#app_footer .glyphicon-earphone {
  color: inherit;
  background-color: inherit;
  vertical-align: top;
}
.hr_gradient {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.logo {
  display: inline-block;
  padding: 0 10px;
  height: 45px;
}

// empty add - char
.blush:empty:before {
  content: '\2013';
  padding-left: 2px;
  padding-right: 2px;
}

// add spacing
.margin-bottom {
  margin-bottom: 100px;
}
.margin-bottom-sm {
  margin-bottom: 50px;
}

// increase size of text in form fields
.form-control {
  font-size: $font-size;
}

.btn-lg {
  margin: 15px 0;
  padding: 15px 30px;
}

#flash {
  position: absolute;
  width: 100%;
  z-index: 999;
  transition-duration: .5s;
  &:hover {
    opacity: .5;
  }
}

// General styling artifacts
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// apply styles to HTML elements
// to make views framework-neutral

html {
  font-size: $font-size;
}
main {
  @extend .container;
  background-color: #ffffff;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

h1.title {
  font-weight: 100;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  font-size: 3rem;
  span {
    letter-spacing: .25px;
  }
}
h2 {
  font-size: 2.215rem;
}
h3 {
  font-size: 1.625rem;
}
h4 {
  font-size: 1.375rem;
}
h5 {
  font-size: 1.125rem;
}


// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  @extend .well;
  @extend .well-lg;
  @extend .center-block;
  padding-top: 20px;
  /*max-width: 320px;*/
  margin: 0 auto;
}

.authform form {
  /*@extend .well;*/
  /*@extend .well-lg;*/
  padding-bottom: 20px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.btn-space {
   margin-top:25px;
}

.info-form .checkbox label {
  font-weight: bold;
}

// Search result
// shell styling
.form-group input {
  &[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }

}

$daria-color-lt : #825fb9;

// Modal partial styling
.btn-success {

  background-color: $daria-color;
  border-color: $daria-color;

  &:hover {
    background-color: $daria-color-lt;
    border-color: $daria-color;
  }
  &:active {
    background-color: #286090 !important;
  }
  &:focus {
    background-color: $daria-color;
    &:hover {
    background-color: $daria-color-lt;
    }
  }

}




.btn-warning {
  color: black;
  border-color: $daria-color;
  background-color: white;
  &:hover {
    background-color: $daria-color-lt;
    border-color: $daria-color;
  }
  &:active {
    background-color: #286090 !important;
  }
  &:focus {
    background-color: $daria-color;
    &:hover {
    background-color: $daria-color-lt;
    }
  }

}

.btn-success[disabled] {
  color: white;
  background-color: gray;
  border-color: $daria-color;
  &:hover {
    background-color: gray;
    border-color: $daria-color;
  }
  &:focus {
    background-color: gray;
    border-color: $daria-color;
    &:hover {
      background-color: gray;
      border-color: $daria-color;
    }
  }

}

.btn-warning[disabled] {
  @extend .btn-success[disabled];
}

.label-success {
  background-color: $daria-color;
}

.btn[data-orientation='cancel'] {
  color: red;
}

.modal-header, .modal-body, .modal-footer {
  padding: 30px
}

.modal-header > h4 {
  padding-left: 1em;
  .label {
    margin-left: -2em;
  }
}
