// Place all the styles related to the clinics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clinic-name {
  display: inline-block;

  & + .edit-clinic-details {
    margin-left: 5px;
  }
}

a[aria-expanded=true] .glyphicon-chevron-down {
   display: none;
}
a[aria-expanded=false] .glyphicon-chevron-up {
   display: none;
}

/*
.table{
  tbody{
    tr{
      td{
        padding:0px;
      }
    }
  }
}

*/