// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon-earphone {
  color: white;
  background-color: #337ab7;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  vertical-align: top;
}

.search_bar {
  max-width: 35%;
}

#search_form {
  .search_form_input {
    width: 350px;
  }
}
