// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

svg.event-item {
  border-radius: 50%;
  margin-right: 1em;
  color: white;
  padding: 4px;
  background-color: #337ab7;
  font-size: 1.25em;
  
  &.fa-thumbs-up {
    background-color: green;
  }

  &.fa-comment {
    background-color: #f8f9fa; // TODO replace with $light;
    color: black;
  }
}

#event-data {
  height: 300px;
  overflow: auto;
}

// Styling for Kaminari pagination
span.page, span.next, span.last {
  font-size: 12px;
  margin-right: 5px;
}
