// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-item {
  color: white;
  background-color: #777777;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  margin-right: 3px;
  &.glyphicon-thumbs-up {
    background-color: green;
  }
}

#event-data {
  height: 300px;
  overflow: auto;
}

