// Place all the styles related to the lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lines-form {
    input[type="radio"] {
        -ms-transform: scale(2); /* IE 9 */
        -webkit-transform: scale(2); /* Chrome, Safari, Opera */
        transform: scale(2);
        margin: 10px;
    }

    label {
        font-size: 24px;
    }

    .form-check-label {
        margin-left: 2em;
    }

    .btn-primary {
        display: block;
    }
}
