.name-date-time {
	padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #323a45;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: #f1f1f1;
  display: inline-block;
  float: left;
  width: 100%;
  font-weight: bold;
}

.notes-body {
	display: -webkit-inline-box;
}