// Place all the styles related to the pregnancies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$daria-color: #5D3E8D;
$soft-blue: #337ab7;
$font-size: 17px;

#patient_dashboard {
  border-bottom: 1px solid black;
  padding: 15px 0;
}

// TODO This should be a class!
#sections {
  border-left: 1px solid black;
  padding-left: 9.5%;
}
