// Place all the styles related to the pregnancies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#patient_dashboard {
  border-bottom: 1px solid black;
  padding: 15px 0;
}

#menu {
  border-right: 1px solid black;
  height: 70vh;
  ul{
    li{
      a{
      &:hover{
        color: lighten(#337ab7, 20%)
        }
      }
    }
  }
}

.abortion-left-menu {
  li {
    // padding-left: 10px;
    background-color: white;

    a:hover {
      color: #337ab7;
      background-color: white;
    }
  }

  li.active {
    // padding-left: 0;

    a, a:hover {
      color: #5D3E8D;
      background-color: white;


    }
  }
}