// Place all the styles related to the pregnancies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$daria-color: #5D3E8D;
$font-size: 17px;

#patient_dashboard {
  border-bottom: 1px solid black;
  padding: 15px 0;
}

.hide-label{
  select{
    margin-top: 28px;
  }
}

#sections {
  border-left: 1px solid black;
  padding-left: 9.5%;
}

.abortion-left-menu.nav-pills {
  font-size: 22px;

  .nav-link {
    color: #337ab7;
    background-color: white;
  }

  a.nav-link.active {
    color: #5D3E8D;
    background-color: white;

    &:before {
      font-family: 'Glyphicons Halflings';
      content: "\e080";
      margin-left: -1.5em;
      padding-right: .85em;
      color: #5D3E8D;      
    }
  }

  a.submit-btn, a.cancel-btn {
    font-size: 22px;
  }
}

.border-side {
  th {
    font-size: 14px;
    color: #323a45;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: #f1f1f1;
    padding-left: 0px !important;
  }
  tr {
    td {
      font-size: 17px;
      padding: 10px 0 !important;
    }
  }
}

#submit-pledge-button, #cancel-pledge-button {
  font-size: 22px;
  font-weight: bold;
}

a.submit-pledge-button, a.cancel-pledge-button {
  text-decoration: none;
}
