<div class="report-section">
  <h2 class="border-bottom">Week of <%= week_range %></h2>

  <%= @weekly_report %>
  <div id='chart-weekly_report'></div>

  <% lines.each do |line| %>
    <h3><%= link_to "#{line} Call Line", '#', class: 'line-header' %></h3>
    <div class="row">
      <h4 class="col-sm-8"><strong>Budget bar, design TK</strong></h4>
    </div>
    <!-- UNCOMMENT WHEN BUDGET BAR IS READY
    <div id="budget_bar">
      <div class="progress"></div>
      <div class="progress-bar progress-bar-striped"</div>
    </div>
     -->
    <p>Patients contacted: <strong>46</strong></p>
    <p>New patients contacted: <strong>23</strong></p>
    <p>Pledges sent: <strong>34</strong></p>
  <% end %>

</div>
