<div class="report-section">
  <div class="row">
    <h4 class="col-sm-8"><strong>Budget bar, design TK</strong></h4>
  </div>
  <!-- UNCOMMENT WHEN BUDGET BAR IS READY
  <div id="budget_bar">
    <div class="progress"></div>
    <div class="progress-bar progress-bar-striped"</div>
  </div>
   -->

</div>
