<div class="report-section">
  <h2 class="border-bottom">Year to date</h2>
  <div id='chart-yearly_report'></div>
  <div class="row">
    <% lines.each do |line| %>
      <div class="col-sm-4">
        <h3><%= link_to line, '#', class: 'line-header' %></h3>
        <p>Patients contacted: <strong>87</strong></p>
        <p>New patients contacted: <strong>60</strong></p>
        <p>Pledges sent: <strong>42</strong></p>
      </div>
   <% end %>
  </div>
</div>
