<div class="report-section">
  <h2 class="border-bottom">Year to date</h2>
  <div class="row">
    <div class="col-sm-4">
      <h3><%= link_to "DC", '#', class: 'line-header' %></h3>
      <p>Patients contacted: <strong>87</strong></p>
      <p>New patients contacted: <strong>60</strong></p>
      <p>Pledges sent: <strong>42</strong></p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "MD", '#', class: 'line-header' %></h3>
      <p>Patients contacted: <strong>87</strong></p>
      <p>New patients contacted: <strong>60</strong></p>
      <p>Pledges sent: <strong>42</strong></p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "VA", '#', class: 'line-header' %></h3>
      <p>Patients contacted: <strong>87</strong></p>
      <p>New patients contacted: <strong>60</strong></p>
      <p>Pledges sent: <strong>42</strong></p>
    </div>
  </div>
</div>  
  