<h1><strong><%= FUND %> Data Center</strong></h1>
<div class="row">
  <h4 class="col-sm-8"><strong>Budget bar, design TK</strong></h4>
</div>
<!-- UNCOMMENT WHEN BUDGET BAR IS READY
<div id="budget_bar">
  <div class="progress"></div>
  <div class="progress-bar progress-bar-striped"</div>
</div>
 -->
<%= render_async patients_report_path(timeframe: 'weekly'), nonce: content_security_policy_script_nonce %>
<%= render_async patients_report_path(timeframe: 'monthly'), nonce: content_security_policy_script_nonce %>
<%= render_async patients_report_path(timeframe: 'yearly'), nonce: content_security_policy_script_nonce %>
