<div class="container">
	<hr class="hr_gradient">
	<div class="row">
		<div class="col-sm-12 text-center">
			<small>Please send feedback or ideas for this case management app to <a href="mailto:DCAF.CMapp@gmail.com">DCAF.CMapp@gmail.com</a></small>
		</div>
	</div><!-- end row -->
</div><!-- end container -->
	  
<div id="app_footer" class="container text-center margin-bottom-sm">
	<a href="http://dcabortionfund.org/">DC Abortion Fund</a> -- <a href="tel:202-452-7464"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 202-452-7464</a><br>
	<a href="https://prochoice.org/">National Abortion Federation</a> -- <a href="tel:800-772-9100"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 800-772-9100</a><br>
	<a href="http://onlinefaxes.com">onlinefaxes.com</a>
</div><!-- end container -->
<div class="container text-center margin-bottom-sm">
	<%= image_tag('dcaf-letter-blocks.svg', class: 'logo') %>
	<%= image_tag('c4dc-logo-master.svg', class: 'logo') %>
</div>


