<div id='flash'>
  <div class="col-sm-10">
  <% flash.each do |name, msg| %>
    <% if name != 'timedout' && msg.length > 0 %>
      <%= flash_msg(name, msg) %>
    <% end %>
  <% end %>
  </div>
</div>
